<fieldset style='width: 100%'>
		<legend>Login Form (JEE-104)</legend>
		<form>
			<label>UserID: </label>
			<input name="username" type=text [(ngModel)]="user.username">
			<br />
			<label>Password: </label>
			<input name="password" type=password [(ngModel)]="user.password">
			<button (click)="login()">Login</button>

		</form>
	</fieldset> 
	Hint: Try "admin" with the most common enterprise password: https://www.zdnet.com/article/top-25-passwords-overused-within-enterprises-password1-welcome-welcome1/

